.hero-image-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.hero-image-wrapper .static-image {
    position: absolute;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
    -o-transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
    -moz-transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
    transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
}
.hero-image-wrapper .image-layer {
    z-index: 5;
}
img {
    border: 0;
}
img {
    border: 0;
}
.row-header-title {
    font-size: 30pt;
    color: white;
    font-weight: 700;
}
.wrap{
    z-index: 120;
}